<div class="container">
    <div class="card shadow mb-4">
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <tr><th>Id</th><th>Concert name</th> <th>Ticket Price</th> <th>Date</th><th>Genre</th> </tr>
                </thead>
                <tbody *ngFor="let concert of concerts">
                    <tr>
                        <td>{{concert.idconcert}}</td>
                        <td>{{concert.nomconcert}}</td>
                        <td>{{concert.prixconcert}}</td>
                        <td>{{concert.dateCreation  | date: 'dd/MM/yyyy' }}</td>
                        <td>{{concert.genre.nomgenre}}</td>
                        <td><a *ngIf="authService.isAdmin()" class="btn btn-danger" (click)="supprimerconcert(concert)">delete</a></td>
                        <td><a *ngIf="authService.isAdmin() || authService.isAgent()" class="btn btn-success" [routerLink]="['/updateconcert',concert.idconcert]">Modify</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>